        body{
            background-color:lightgray;
        }
        
        #navbar {
            background-color: 00008B;
            width: 100%;
            float: left;


            padding: 14px 16px;
            text-decoration: none;

        }

        #navbar li {
            list-style: none;
            float: left;
        }

        #navbar #login{
            float:right;
        }

        #navbar a {
            color: azure;
            text-align: center;
            font-size: 25px;
        }

        .box-white{
            position:absolute;
            top:15%;
            left:25%;
            width:50%;
            resize:both;
            background:white
}

       .column-right-right {
            float:right;
            padding: 30px;
            font-family:'Helvetica';
            font-size:15px;
            color: red;
            width: 30%;
        }

        .column-right-v1 {
            border-left: 1px solid grey;
            height: 100%;
            position: absolute;
            left: 50%;
            margin-left: -3px;
            top: 0;

        }

        .column-left {
            padding: 30px;
            font-family:'Helvetica';
            font-size:15px;
            color: red;
            width: 30%;
        }

        .column-left-form{
            padding: 50px;
            font-family:'Helvetica';
            font-size:12px;
            color: black;
            width: 30%;
        }

        strong{
            font-weight: bold;
            font-family:'Helvetica';
            font-size:20px;
            color:black;
        }

        .edit-delete{
            list-style:none;
            padding:30px
        }

        .edit-delete li{
            display:inline;
            
        }
        
        .edit-delete.edit{
            border-right:solid 1px black /*add */
        }
        @media only screen and (max-width : 768px) {

            .column-left,
            .column-right-v1,
            .column-right-right {
                width: 100%;
            }
        }




