<html>

<head>

    <link rel="stylesheet" type='text/css' href="{{url_for('static', filename='style.css')}}">

</head>

<body>
    <nav id="navbar">
        <ul>
            <li><a href="/">Catalog App</a>
            </li>
        </ul>
    </nav>

    <div class="box-white">
        <div class="row">

            <div class="column-right-right">
                <strong>Items</strong>
                </br></br>
                {% for x in items %}
                {{x.name}}</br></br>
                {% endfor %}

            </div>

            <div class="column-right-v1">
            </div>

            <div class="column-left">
                <Strong>Categories</Strong>
                </br></br>
                {% for i in category %}
                {{i.name}}</br></br>
                {% endfor %}
            </div>
        </div>



    </div>
</body>


</html>