<html>

<head>
    <link rel="stylesheet" type='text/css' href="{{url_for('static', filename='style.css')}}">

</head>


<body>
    <nav id="navbar">
        <ul>
            <li><a href="/">Catalog App</a>
            </li>
        </ul>
    </nav>
    <div>
        <div class="box-white">
            <div class="column-left">

                <strong>{{name}}</strong>
                </br></br>
                {% for i in items %}
                Description : {{i.description}}</br></br>
                {% endfor %}
            </div>


            <a href={{url_for('edit_item',name=n, item_name=name)}}>Edit </a>
            <a href="/delete">Delete</a>

        </div>

    </div>

</body>

</html>