<html>

    <head>
        <link rel="stylesheet" type='text/css' href="{{url_for('static', filename='style.css')}}">

    </head>

    <html>

        <body>
            <nav id="navbar">
                <ul>
                    <li><a href="/">Catalog App</a>
                    </li>
                </ul>
            </nav>
            <div class="box-white">
                <div class="column-left-form">
                    <strong>Add Item</strong>
                    </br></br>
                    <form action="{{url_for('new_item', category_name=category_name)}}" method='POST'>

                        Category<br />
                        <select name="category">
                            <option>{{category_name}}</option>
                        </select>
                        <br /><br />
                        Item <br />
                        <input type="text" name="iname" value=""></input><br /><br />
                        Description<br />
                        <input type="text" name="idesc" value=""></input><br /><br />
                        <input type="submit" />
                    </form>
                </div>

            </div>


        </body>

    </html>